
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Rubik+Dirt&family=Sacramento&family=Silkscreen&family=Teko&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>
<body background="https://img.freepik.com/free-vector/colorful-vibrant-summer-background_53876-117989.jpg?w=2000">
    <style>
        li{
            font-size: 20px;
        }
    </style>
    
    <H2 Style = "color : rgb(12, 12, 12) ; font-family: 'Teko', sans-serif; font-size: 50px;">Hi Guys! I am Nikhil M from CSA</H2>
    <H3 Style = "font-family: 'Silkscreen', cursive; font-size: 25px;">Do connect with me on : </H3>

    
    <b>Phone : </b>8129574473 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>Instagram : @nikhilm831 </b> 
    <br><br>
    <b>Email : </b>nikhil.mecheril@gmail.com &nbsp;&nbsp;&nbsp;
    <b>Twitter : </b>@N_ikhil_M
    

        <H2 Style = "font-family: 'Orbitron', sans-serif" >My interests</H2> 
        <hr>
        <ul>
        <li style = "font-size: 20px;;">Web development (I know a lil bit of HTML,CSS,django,python and postgresql!</li><br>
        <li style = "font-size: 20px;">Robotics(Arduino and Raspberry Pi)</li><br>
        <li style = "font-size: 20px; ">MCU(Same pinch if you are a doctor Strange fan!!<b>&#128512</b>)</li><br>
        <li style = "font-size: 20px; ">Kerala Blasters<b>&#128525</b></li><br>
        </ul>


        <H2 Style = "font-family: 'Orbitron', sans-serif ;" >Education</H2>
        <hr>
        <ul>
            <li>St Joseph's Junior(ICSE) School</li>
            <li>St Joseph's Boys' Higher Secondary School</li>
            <li>Model Engineering college, Thrikakkara</li>
        </ul>


        <p style="font-size: 25px ;">So , I guess that's it about me. So excited to tinker with y'all!! </p>

    
</body>
</html>